body {
    height: 100vh; 
    background-image: url("../image/javascript.jpg");   
    background-size: cover;
    background-position: center;
    background-color: lightslategray;  
    color: greenyellow;
    padding-top: 30vh;
}